name: Build And Deploy Betalgo.Ranul.OpenAI

on:
  push:
    branches: [ master ]

jobs:
  build-test:

    permissions:
      contents: read

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -c Release --no-restore
    - name: Test
      run: dotnet test -c Release --no-build --verbosity normal

  publish:
    needs: build-test

    permissions:
      contents: write
      packages: write

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
    
    - name: Publish OpenAI
      uses: Betalgo/NugetPublisher@v1.3.0
      with:
        project-file: OpenAI.SDK/Betalgo.Ranul.OpenAI.csproj
        nuget-api-key: ${{ secrets.NUGET_KEY }}
        tag-commit: true
        tag-format: Betalgo.Ranul.OpenAI-v*

    - name: Publish Contracts
      uses: Betalgo/NugetPublisher@v1.3.0
      with:
        project-file: Betalgo.Ranul.OpenAI.Contracts/Betalgo.Ranul.OpenAI.Contracts.csproj
        nuget-api-key: ${{ secrets.NUGET_KEY }}
        tag-commit: true
        tag-format: Betalgo.Ranul.OpenAI.Contracts-v*

    - name: Publish OpenAI Utilities
      uses: Betalgo/NugetPublisher@v1.3.0
      with:
        project-file: OpenAI.Utilities/Betalgo.OpenAI.Utilities.csproj
        nuget-api-key: ${{ secrets.NUGET_KEY_UTILITIES }}
        tag-commit: true
        tag-format: Betalgo.OpenAI.Utilities-v*